<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Room Types</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
	<style>
		body        { padding-top:80px; }
	</style>
</head>
<body>
	
	<div th:include="template :: header"></div>
	
	<div class="container">
	
		<div class="page-header text-center">
        	<h1><span class="fa fa-h-square"></span> Room Type <span th:text="${roomtype.type}"></span></h1>
    	</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title text-center">Room Type Details</h2>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-4 text-center">
						<h4><span ></span> Type</h4>
						<p><span th:text="${roomtype.type}"></span></p>
						
						
					</div>
					<div class="col-sm-4 text-center">
						<h4><span ></span> Price</h4>
						<p><span th:text="${roomtype.price}"></span></p>
					
					</div>
				</div>	
					<p>
						<a th:href="@{|/roomtypes/${roomtype.id}/edit|}" class="btn btn-success">Edit</a>
					</p>	
			</div>
		</div>
		
		<div class="text-right">
			<p>
				<a href="/roomtypes/new" class="btn btn-primary">Add a new room type</a>
				<a href="/roomtypes" class="btn btn-primary">List all room types</a>
			</p>
		</div>
		
	</div>
	
	<div th:include="template :: footer"></div>
</body>
</html>

