<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hotel Bookings</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	media="screen" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<style>
body {
	padding-top: 80px;
}
</style>
</head>
<body>
	<div th:include="template :: header"></div>
	<div class="container">

		<div class="page-header text-center">
			<h1>
				<span class="fa fa-globe"></span> Hotel Bookings
			</h1>
			<!-- 
        	<a href="/logout" class="btn btn-default btn-sm">Logout</a>
        	 -->
		</div>

		<!--     	<div class="list-group"> -->

		<!--     		<span th:each="booking : ${bookings}"> -->
		<!--     			<a th:href="@{|/hotels/${booking.hotel.id}/bookings/${booking.id}|}" class="list-group-item" th:text="${booking.description}"></a> -->

		<!--     		</span> -->

		<!-- 		</div> -->


		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading"></div>
				<table class="table text-center">
					<tr>
						<th class="text-center">Booking ID</th>
						<th class="text-center">Hotel Name</th>
						<th class="text-center">No. Persons</th>
						<th class="text-center">Start Date</th>
						<th class="text-center">End Date</th>
					</tr>
					<span th:each="booking : ${bookings}">
						<tr>
							<td><a th:href="@{|/hotels/${booking.hotel.id}/bookings/${booking.id}|}"> <span
									th:text="${booking.id}"></span>
							</a></td>
							<td><span th:text="${booking.hotel.name}"></span></td>
							<td><span th:text="${booking.numberOfPersons}"></span></td>
							<td><span th:text="${#calendars.format( booking.startDate, 'dd/MM/yyyy')}"></span></td>
							<td><span th:text="${#calendars.format( booking.endDate, 'dd/MM/yyyy')}"></span></td>
						</tr>
					</span>
				</table>
			</div>
		</div>
	</div>

	<div th:include="template :: footer"></div>
</body>
</html>

