<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create new hotel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
		media="screen" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
	<style>
		body        { padding-top:80px; }
	</style>
</head>
<body>
	
	<div th:include="template :: header"></div>
	
	<div class="container">
		<h1>Editing Hotel <span th:text="${hotel.name}"></span></h1>
	
		<div th:include="hotels/form :: hotelform(@{|/hotels/${hotel.id}|})"></div>
		
			<p>
				<div class="text-left">
					<a th:href="@{|/hotels/${hotel.id}/remove|}" class="btn btn-danger pull-left"><span class="fa fa-trash-o"> </span> Remove</a>
				</div>
				<div class="text-right">
					<a href="/hotels/new" class="btn btn-primary">Add a new hotel</a>
					<a href="/hotels" class="btn btn-primary">List all hotels</a>				
				</div>
			</p>
    </div>
    
    <div th:include="template :: footer"></div>
    
</body>
</html>

