<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Hotel List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
	<style>
		body { padding-top: 80px; }
	</style>
</head>
<body>

	<div th:include="template :: header"></div>
	
    <div class="container">
    
    	<div class="page-header text-center">
        	<h1><span class="fa fa-globe"></span> Hotel List</h1>
    	</div>
    	
    	<div class="list-group">
    		
    		<span th:each="hotel : ${hotels}">
    			<a th:href="@{|/hotels/${hotel.id}|}" class="list-group-item" th:text="${hotel.name}"></a>
    		</span>
    		
		</div>
    	
		<p>	<a href="/hotels/new" class="btn btn-primary"> <span class="fa fa-plus-square"></span> new hotel</a></p>
	
	</div>
	
	<div th:include="template :: footer"></div>
</body>
</html>

