<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hotels</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<style>
body {
	padding-top: 80px;
}
</style>
</head>
<body>

	<div th:include="template :: header"></div>

	<div class="container">

		<div class="page-header text-center">
			<h1>
				<span class="fa fa-h-square"></span> Hotel <span th:text="${hotel.name}"></span>
			</h1>
		</div>

		<div class="row">
			<!-- Hotel Details -->
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title text-center">Hotel Details</h2>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-4 text-center">
								<h4>
									<span></span> Name
								</h4>
								<p>
									<span th:text="${hotel.name}"></span>
								</p>
								<!-- 
								<a th:href="@{|/hotels/${hotel.id}/comments|}"
									class="btn btn-primary">Comments</a>								
								 -->

							</div>
							<div class="col-sm-4 text-center">
								<h4>
									<span></span> Address
								</h4>
								<p>
									<span th:text="${hotel.address}"></span>
								</p>

							</div>
							<div class="col-sm-4 text-center">
								<h4>
									<span></span> Category
								</h4>
								<p>
									<span th:text="${hotel.category}"></span>
								</p>

								<h4>
									<span></span> Stars
								</h4>
								<p>
									<span th:text="${hotel.stars}"></span>
								</p>
							</div>
						</div>
						<p>
							<a th:href="@{|/hotels/${hotel.id}/edit|}" class="btn btn-success">Edit</a>
						</p>
					</div>
				</div>
			</div>

			<!-- Hotel Room Types -->
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title text-center">Room Types</h2>
					</div>
					<div class="panel-body">
						<span th:each="roomType : ${hotel.roomTypes}"> <a th:href="@{|/hotels/${hotel.id}/roomtypes/${roomType.id}|}" class="list-group-item" th:text="${roomType.type}"></a>
						</span>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<!-- Hotel Comments -->
			<div class="col-sm-6 pull-left">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title text-center">Comments</h2>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<span th:each="comment : ${hotel.comments}">
								<div class="row">
									<div class="col-sm-10 text-center">
										<a th:href="@{|/hotels/${hotel.id}/comments/${comment.id}|}" class="list-group-item" th:text="${comment.commentString}"></a>
									</div>

									<div class="col-sm-2 text-center">
										<a th:href="@{|/hotels/${hotel.id}/comments/${comment.id}/remove|}" class="btn btn-primary pull-right"><span class="fa fa-trash-o"></span></a>
									</div>
								</div>
							</span>
							<p></p>
							<a th:href="@{|/hotels/${hotel.id}/comments/new|}" class="btn btn-primary"> <span class="fa fa-plus-square"></span> new comment
							</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Hotel Photos -->
			<div class="col-sm-6 pull-right">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title text-center">Photos</h2>
					</div>

					<div class="panel-body">
						<div class="row">
							<span th:each="photo : ${hotel.photos}">
								<div class="col-xs-6 col-md-3">
									<a th:href="@{|${photo.path}|}" class="thumbnail"> <img th:src="${photo.path}" alt="" />
									</a>
								</div>
							</span>
						</div>
						<a th:href="@{|/hotels/${hotel.id}/photos/new|}" class="btn btn-success">Add Photo</a>
					</div>
				</div>
			</div>

		</div>


		<div class="text-right">
			<p>
				<a href="/hotels/new" class="btn btn-primary">Add a new hotel</a> <a href="/hotels" class="btn btn-primary">List all hotels</a>
			</p>
		</div>

	</div>

	<div th:include="template :: footer"></div>
</body>
</html>

