<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
	
	<style>
	body {padding-top: 80px;}
	</style>
</head>
<body>
	<!-- 	
	<h1>404 Not found</h1>
	 -->
	 
	 <div class="jumbotron">
	 
	 	<div class="container text-center">
		    <div class="row">
		        <div class="col-md-12">
		            <div class="error-template">
		                <h1>
		                    Oops!
		                </h1>
		                <h2>
		                    404 Not Found
		                </h2>
		                <div class="error-details">
		                    Sorry, an error has occured, Requested page not found!
		                </div>
		                <div class="error-actions">
		                	<p></p>
		                    <a th:href="@{/}" class="btn btn-primary btn-lg"><span class="fa fa-home"></span> Home </a>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	 
	 </div>
	 

	 
</body>
</html>

