<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Homepage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
	<style>
        body        { padding-top:80px; }
    </style>
</head>
<body>

	<!-- 
	<div th:include="template :: header"></div>
	 -->
	
	<div class="container">
	
	    <div class="jumbotron text-center">
	        <h1>
	        Hotel Site Homepage
	        </h1>
	        <p>
	        </p>
	        <a th:href="@{/hotels/}" class="btn btn-success"><span class="fa fa-lock"></span> Enter</a>
	    </div>
	
	</div>

	<!-- 
	<div class="container">
		<h1>Hotel Site Homepage</h1>
		<a th:href="@{/hotels/}">List of Hotels</a>
	</div>
	
	 -->
	
	<div th:include="template :: footer"></div>

	

		<script src="js/app.js"></script>
</body>
</html>

