<!DOCTYPE html>
<html>
<head>
<title>Template file</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#"><span class="fa fa-bed"></span> Hotel Tomorrow</a>
    			</div>
    		<div>
      			<ul class="nav navbar-nav">
      				<!-- 
        			<li class="active"><a th:href="@{/}">Home</a></li>
      				 -->
        			<li><a th:href="@{/}">Home</a></li>
        			<li><a th:href="@{/hotels/}">Hotels</a></li>
        			<li><a th:href="@{/comments/}">Comments</a></li> 
      			</ul>
    		</div>
  			</div>
		</nav>
	</div>
	

	<div th:fragment="footer">
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<p class="navbar-text pull-left">
					<span class="fa fa-bed"></span> Hotel Tomorrow
				</p>

				<p class="navbar-text pull-right">
					© 2015 - Made with <span class="fa fa-heart"></span> in Caparica.
				</p>
			</div>
		</div>
	</div>
</body>
</html>