<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<style>
	body {padding-top: 80px;}
</style>

</head>

<body>
	<div th:include="template :: header"></div>
	
	<div class="container">

		<div class="page-header text-center">
			<h1>
				<span class="fa fa-plus-square"></span> New Comment
			</h1>
		</div>

		<div class="list-group">
    		<span th:each="comment : ${comments}">	
	    		<div class="row">
		    		<div class="col-sm-10 text-center">
		    			<a th:href="@{|/hotels/${hotelId}/comments/${comment.id}|}" class="list-group-item" th:text="${comment.commentString}"></a>
		    		</div>
		    		
		    		<div class="col-sm-2 text-center">
		    			<a th:href="@{|/hotels/${hotelId}/comments/${comment.id}/remove|}" class="btn btn-primary pull-right"><span  class="fa fa-trash-o"></span></a>
		    		</div>
	    		</div>	
    		</span>
		</div>

		<div class="panel panel-default">

			<div class="panel-heading">
				<h2 class="panel-title text-center">New Comment</h2>
			</div>

			<form action="#" th:action="${url}" th:object="${comment}" method="post">
				<div class="panel-body">

					<div class="row">
						<div class="col-sm-4 text-center form-group">
							<input type="hidden" th:field="*{id}" /> 
							<label for="comm"><h4>Comment:</h4></label>
							<input type="text" class="form-control" th:field="*{commentString}" id="comm" />
						</div>
					</div>
				</div>

				<div class="panel-footer">
					<input type="reset" class=" btn btn-info " value="Reset" /> 
					<input type="submit" class="btn btn-success pull-right" value="Save" />
				</div>
			</form>
		</div>
		
	</div>
	
	<div th:include="template :: footer"></div>
	
</body>
</html>

