<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Hotel Comments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/> 
	<style>
		body        { padding-top:80px; }
	</style>    
</head>
<body>
	<div th:include="template :: header"></div>
	
    <div class="container">
    
    	<div class="page-header text-center">
	    	<div th:if="${hotelId}"> <!-- if as an hotel id-->
	   			<h1><span class="fa fa-globe"></span> Hotel Comments</h1>
			</div>
			<div th:unless="${hotelId}">
	   			<h1><span class="fa fa-globe"></span> ALL Comments</h1>
			</div>	
    	</div>
    	
    	<!-- Lists the comments -->
    	<div class="list-group">
    		<span th:each="comment : ${comments}">	
	    		<div class="row">
	    			<!-- Prints Comment -->
		    		<div class="col-sm-10 text-center">
		    			<a th:href="@{|/hotels/${hotelId}/comments/${comment.id}|}" class="list-group-item" th:text="${comment.commentString}"></a>
		    		</div>
		    		<!-- Display trash can -->
		    		<div class="col-sm-2 text-center">
		    			<a th:href="@{|/hotels/${hotelId}/comments/${comment.id}/remove|}" class="btn btn-primary pull-right"><span  class="fa fa-trash-o"></span></a>
		    		</div>
	    		</div>	
    		</span>
		</div>
    	
		<p>	<a th:href="@{|/hotels/${hotelId}/comments/new|}" class="btn btn-primary"> <span class="fa fa-plus-square"></span> new comment</a></p>
	
	</div>
	
	<div th:include="template :: footer"></div>
</body>
</html>

